.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 50px;
  height: 50px;
}

.bounce1,
.bounce2,
.bounce3 {
  width: 10px;
  height: 10px;
  background-color: #ff705b;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.bounce2 {
  animation-delay: 0.2s;
}

.bounce3 {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-20px);
  }
}
