.homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    padding: 35px;
    box-sizing: border-box;
    background-color: aliceblue;
    gap: 50px;
    animation: fade-slide-in 1s ease-in-out;
    margin: 0 auto;
}

.homepage-content {
    padding-left: 40px;
}

@keyframes fade-slide-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.homepage img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 8px;
    order: 2;
    animation: fade-slide-in 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    opacity: 0;
    transition: opacity 0.6s ease-in;
}

.homepage img.loaded {
  opacity: 1;
}

.homepage h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #22223b;
    max-width: 80%;
    line-height: 1.4;
    animation: fade-slide-in 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

.homepage p {
    font-size: 1.25rem;
    margin-bottom: 30px;
    color: #4a4e69;
    max-width: 80%;
    line-height: 1.6;
    animation: fade-slide-in 1s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: both;
}

.homepage .login-link,
.homepage .demo-link {
    display: inline-block;
    padding: 12px 28px;
    background: #22223b;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.2s;
    max-width: 200px;
    text-align: center;
    margin-right: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    animation: fade-slide-in 1s ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: both;
}

.homepage .login-link:hover {
    background: #4a4e69;
}

.homepage .demo-link {
    margin-right: 15px;
    background: #ff705b;
    gap: 10px;
    text-decoration: none;
}

.homepage .demo-link:hover {
    background: #f7b7a3;
}


@media (max-width: 900px) {
    .homepage {
        flex-direction: column;
        gap: 32px;
        padding: 24px;
        text-align: center;
    }
    .homepage img {
        order: 0;
        max-width: 90vw;
    }
    .homepage > *:not(img) {
        order: 1;
        width: 100%;
    }

    .homepage-content {
        padding-left: 0;
        padding-right: 0;
    }

    .homepage h1 {
        font-size: 2rem;
        text-align: center;
        margin: auto;
        max-width: 85%;
        padding-bottom: 20px;
    }
    .homepage p {
        font-size: 1.2rem;
        text-align: center;
        margin: auto;
        max-width: 70%;
        padding-bottom: 40px;
    }

    .homepage .login-link,
    .homepage .demo-link {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}